# `~/.nanorc` file can be easily automatically created by the following command, whcich 
# adds all available language syntax highlighting, sets auto-indentation and shows number line
# Source: https://askubuntu.com/a/538674

# Select one
# Linux
#NANO_PATH="/usr/local/share/nano/"
#NANO_PATH="/usr/share/nano/"
# MacOS and nano installed from brew
NANO_PATH=/opt/homebrew/Cellar/nano/X.X/share/nano

touch ~/.nanorc
find "${NANO_PATH}" -name "*.nanorc" -exec echo include {} \; >> ~/.nanorc
echo -e "\nset constantshow" >> ~/.nanorc
echo "set autoindent" >> ~/.nanorc
---------

Or include manually the following lines:

```nano
# Show line numbers
#set linenumbers
set constantshow

# Syntax hihglighting
include "/usr/share/nano/nanorc.nanorc"
include "/usr/share/nano/python.nanorc"
include "/usr/share/nano/sh.nanorc"

# Auto-indentation
set autoindent
```
