# `~/.nanorc` file can be easily automatically created by the following command, whcich 
# adds all available language syntax highlighting, sets auto-indentation and shows number line
# Source: https://askubuntu.com/a/538674

# select one
#NANO_PATH="/usr/local/share/nano/"
NANO_PATH="/usr/share/nano/"
# M1 and nano installed from brew
NANO_PATH=/opt/homebrew/Cellar/nano/5.9/share/nano 

find ${NANO_PATH} -iname "*.nanorc" -exec echo include {} \; >> ~/.nanorc; echo -e "\nset constantshow" >> ~/.nanorc; echo "set autoindent" >> ~/.nanorc

---------

Then include following lines:

```
set constantshow    # to show line numbers
set autoindent
set linenumbers
```
